# default ownership for deadline-cloud-developers
* @aws-deadline/sync-team-aws-deadline-cloud-github-developers

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
