*.egg-info/
__pycache__/
.mypy_cache
.ruff_cache
.coverage*
.tox
.venv
/htmlcov
.attach_pid*
*.swp
*_version.py
.attach_pid*
.DS_Store
mise.toml

# Build artifacts
/build/
/dist/
/site/
installer/components
scripts/pyinstaller/build
scripts/pyinstaller/dist

# Compiled translations
src/deadline/client/ui/_translation_keys.py

# Misc extensions
*.run
*.exe
*.zip
*.app
*.dmg

# IDE
.idea/
.vscode
.kiro

# Install builder license
license.xml
/THIRD_PARTY_LICENSES
