coverage[toml] ~= 7.2
pytest ~= 7.4
pytest-cov ~= 4.1
pytest-timeout ~= 2.1
pytest-xdist ~= 3.3
freezegun ~= 1.2
types-pyyaml ~= 6.0
twine ~= 4.0
black == 23.7.*; python_version == '3.7'
black == 23.*; python_version > '3.7'
mypy ~= 1.4
ruff ~= 0.0.282
moto ~= 4.1
jsondiff ~= 2.0
