coverage[toml] ~= 7.2; python_version == '3.7'
coverage[toml] ~= 7.3; python_version > '3.7'
pytest ~= 7.4
pytest-cov ~= 4.1
pytest-timeout ~= 2.2
pytest-xdist ~= 3.3
freezegun ~= 1.2
types-pyyaml ~= 6.0
twine ~= 4.0
black == 23.3.*; python_version == '3.7'
black == 23.*; python_version > '3.7'
mypy ~= 1.4; python_version == '3.7'
mypy ~= 1.6; python_version > '3.7'
ruff ~= 0.1.5
moto ~= 4.2
jsondiff ~= 2.0
